.listproduct {
     display: flex;
     flex-direction: column;
     align-items: center;
     width: 100%;
     padding: 20px;
     background: #fff;
     border-radius: 6px;
}

.listproduct-table {
     width: 100%;
     border-collapse: collapse;
     margin-top: 20px;
}

.listproduct-table th,
.listproduct-table td {
     text-align: start;
     padding: 15px;
     border-bottom: 1px solid #ddd;
     font-size: 15px;
     color: #454545;
}

.listproduct-table th {
     background-color: #f4f4f4;
     font-weight: 600;
}

.listproduct-table td {
     font-weight: 500;
}

.listproduct-product-icon {
     width: 150px;
     height: 80px;
     object-fit: cover;
}

.listproduct-remove-icon {
     cursor: pointer;
     width: 20px;
     height: 20px;
}

@media (max-width: 800px) {
     .listproduct-table th,
     .listproduct-table td {
          font-size: 12px;
          padding: 10px;
     }

     .listproduct-product-icon {
          width: 120px;
          height: 60px;
     }
}
